body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
}

ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
}

h1,h2,h3,h4,ul,p,blockquote,dd{
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

img[src$='.jpg']{
    border-radius: 4px;
}